*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container{
    background-color: dodgerblue;
    display: flex;
    flex-direction:column;        /* You can put {column-reverse, row, row-reverse} */   
    justify-content: center;     /*{flex-start, flex-end, space-between, space-around, space-evenly}*/
}
.flex-container > div{
    background-color: #f1f1f1;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    text-align: center;
}
